<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>CRUD</title>
 <link rel="stylesheet" href="{% static 'employee_register/css/bootstrap.css' %}">
 </head>
 <body>
    <div class="container mt-5">
        <h2 class="text-center  alert alert-danger">Function Based View Modelform CRUD Project</h2>
        {% block content%} {% endblock content %}
    </div>

 <script src="{% static 'employee_register/js/jquery.js' %}"></script>
 <script src="{% static 'employee_register/js/popper.js' %}"></script>
 <script src="{% static 'employee_register/js/bootstrap.js' %}"></script>
 </body>
 </html>